<div class="row">
    <div class=" col-md-4">
        <table class="table">
            <tr *ngFor="let aProduct of products" (click)="OnSelect(aProduct)">
                <td><img src="{{aProduct.Image}}" height="100px" width="100px" /></td>
                <td>{{aProduct.Brand}}</td>
                <td>{{aProduct.Model}}</td>
                <!--<td>{{aProduct.Description}}</td>-->
                <td>{{aProduct.Price}}</td>
            </tr>
        </table>
    </div>

    <div class=" col-md-8">
        <div *ngIf="selectedProduct">
            <div id="st">
                <my-product-detail [productDetail]="selectedProduct"></my-product-detail>
            </div>

        </div>

    </div>
</div>

