<div class="jumbotron">
    <h1>PHONETIC</h1>
    <p class="lead">Phonetic is the world leading mobile phone supplier</p>
    <p><a href="https://phonetic.se" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<button (click)="GetProducts()">GetProducts</button>
<ul>
    <li *ngFor="let aProduct of products"> Id:{{aProduct.Id}} Brand: {{aProduct.Brand}} Model: {{aProduct.Model}} Description: {{aProduct.Description}} Price: {{aProduct.Price}}</li>
</ul>
<!--<div class="row">
    <div class="col-md-4">
        <h2>Apple</h2>
        <p>
            The iPhone is intended to showcase what Apple thinks is technology of the future,
            specifically adopting OLED screen technology for the first time in iPhone history,
            as well as using a glass and stainless-steel form factor, offering wireless charging,
            and removing the home button in favor of introducing Face ID, a new authentication method
            using advanced technologies to scan the user's face to unlock the device, as well as for
            the use of animated emojis called Animoji. The new, nearly bezel-less form factor marks
            a significant change to the iPhone user interaction, involving swipe-based gestures to
            navigate around the operating system rather than the typical home button used in every
            previous iteration of the iPhone lineup.
        </p>
        <p><a class="btn btn-default" href="https://apple.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Samsung</h2>
        <p>
            Samsung Electronics is a multinational electronics and information technology company
            headquartered in Suwon and the flagship company of the Samsung Group. Its products include
            air conditioners, computers, digital televisions, liquid crystal displays
            (including thin film transistors (TFTs) and active-matrix organic light-emitting diodes
            (AMOLEDs)), mobile phones, monitors, printers, refrigerators, semiconductors and
            telecommunications networking equipment.[92] It is the world's largest mobile phone
            maker by unit sales in the first quarter of 2012, with a global market share of 25.4%.
            It is also the world's second-largest semiconductor maker by 2011 revenues (after Intel).
        </p>
        <p><a class="btn btn-default" href="https://samsung.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>From a wide range of android phones you can get the one for YOU</p>
        <p><a class="btn btn-default" href="https://android.com">Learn more &raquo;</a></p>
    </div>
</div>-->
