


<button (click)="GetProducts()">GetProducts</button>
<table class="table">
    <tr *ngFor="let aProduct of products">
        <td><img src="{{aProduct.Image}}" height="100px" width="100px" /></td>
        <td>{{aProduct.Brand}}</td>
        <td>{{aProduct.Model}}</td>
        <td>{{aProduct.Description}}</td>
        <td>{{aProduct.Price}}</td>
    </tr>
</table>

<!--<ul>
    <li *ngFor="let aProduct of products"> Id:{{aProduct.Id}} Brand: {{aProduct.Brand}} Model: {{aProduct.Model}} Description: {{aProduct.Description}} Price: {{aProduct.Price}}</li>
</ul>-->
