@{
    ViewBag.Title = "About Phonetic";
}
<h2>@ViewBag.Title</h2>


<p>
    At the heart of it, we believe in something simple. A better way to do mobile.

    We don't do contracts, so you're free to go. But we'd love you to stay.

    It's why we work our socks off every day to keep you, and guess what?.

    Come join us..
</p>
