@{
    ViewBag.Title = "Contact";
}
<h2>Visiting Adress</h2>

<address>
    Phonetic AB<br />
    Centrumgatan 4<br />
    35230 Växjö
    <br />
    <abbr title="Phone">P:</abbr>
    +46 470 705040
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@phonetic.se">Support@phonetic.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@phonetic.se">Marketing@phonetic.se</a>
</address>